body {
	font-family: sans-serif;
	color: white;
}

header {
	background-image: url("images/background.jpg");
	text-align: center;
	color: white;
	background-size: cover;
	background-attachment: fixed;
}
img {
	width: 300px;
	margin-top: 50px;
	border: 5px solid white;
	border-radius: 35%;
	padding:5px;
}

a {
	color:#38A88F;
}

h1 {
	color:white;
	font-size: 48px;
}

h1, h2 {
	font-family: 'Bitter', serif;
}

p {
	margin: 0px;
	padding-bottom: 20px;
}

.links h2 {
	font-family: sans-serif;
	color:tomato;
}
#about {
	background: #FFCA59;
}

.links {
	background-color: white;
	color:tomato;
}


.love {
	color:black;
}

.padded {
	padding: 50px;
}

.contact {
	background-image: url("images/dark_embroidery.png");
	text-align: center;
	color:white;
}

.icon {
	width: 5%;
	height: auto;
	border-radius: 50%;
	margin: 15px;
}

ul.websites {
	padding:0;
}

ul.websites li{
	list-style: none;
	display: inline-block;
}

.websites a{
	background: #38A88F;
	padding:10px 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 24px;
	display: block;
	margin-right: 10px;
}

.websites a:hover{
	background-color:#666;
}